.auth {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth div {
    display: flex;
}

.user {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 700;
    font-family: inherit;
}